<%# app/views/home/index.html.erb %>
<div class="lobby-container d-flex flex-column align-items-center gap-5">
  <h1 class="text-center">Welcome to Hack and Flash</h1>
  <h3 class="text-center">Get started from your dashboard.</h3>

    <%= button_to "Go!", dashboard_path, :class => "btn btn-success", :method => :get %>
</div>